* {
  margin: 0;
  box-sizing: border-box;
}

.dashboard-wrapper {
  background-color: antiquewhite;
}

.dashboard-container {
  max-width: 100%;
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  background-color: rgb(144, 155, 155);
  width: 300px;
  height: 100vh;
  padding: 5px 10px;
}

.sidebar-top > img {
  width: 100px;
  height: 100px;
}

.nav-container {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.sidebar-nav > a {
  text-decoration: none;
  color: aliceblue;
}
