* {
  box-sizing: border-box;
}
.card {
  background-color: black;
  color: white;
}

.card > img {
  background-color: red;
  padding: 10px;
}

.heading-1 {
  background-color: red;
}

/* This is is content-box */
.box-1 {
  background-color: red;
  width: 500px;
  height: 500px;
  padding: 100px;
  border: 10px solid black;
  margin: 20px;
}

.box-2 {
  background-color: blue;
  width: 500px;
  height: 500px;

  /* padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 100px;
  padding-left: 80px; */

  /* padding: 0px 50px 100px 80px; */

  /* padding: 100px 0px; */
  padding: 0px 100px;
  border: 10px solid #000000;
  margin: 20px;
}

.heading-2 {
  background-color: aqua;
  width: 500px;
  height: 500px;
  padding: 200px;
  border: 20px dashed red;
}
/* .box-2 > h1 {
  margin: 0;
} */
